.center{
  text-align: center;
  font-size: 55px; 
  color: DarkGreen;
}
.center2{
  color: DarkGreen;
}
.harrypotter6{
  text-align: center;
  font-size: 18px; 
}
.thing6{
  height: 205px;
  align-items: center;
}