.center{
  text-align: center;
  color: DarkBlue;
  font-size: 55px
}
.center2{
  color: DarkBlue;
}
.harrypotter5{
  text-align: center;
  font-size: 18px
}
.thing5{
  height: 210px;
  align-items: center;
}